*{
    margin: 0;
    padding: 0;
}

/*navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8d2f2f;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


h1{
    color: red;
    background-color: rgb(15, 139, 221);
    border: 2px solid green;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
}


.container{
    background-color: rgb(16, 205, 51);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
.about{
    padding: 50px;
}

#container{
    background-color: rgb(220, 157, 10);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

#hello{
    color: red;
    background-color: rgb(15, 139, 221);
    border: 2px solid green;
    font-family: 'Courier New', Courier, monospace;
}